@import "https://js.arcgis.com/4.27/@arcgis/core/assets/esri/themes/light/main.css";
@import "https://js.arcgis.com/calcite-components/1.11.0/calcite.css";
html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  display: flex;
}

#header-title {
  margin-left: 1rem;
  margin-right: 1rem;
}

#performanceInfo {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1em;
}

table {
  margin: 1em 0;
}

.center {
  text-align: center;
}

#sketchPanel {
  width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.esri-button {
  margin: 2px;
}

#configurationDiv {
  padding: 10px;
  text-align: left;
  width: 250px;
}

#configurationInfoDiv {
  padding: 7px;
  text-align: left;
}

#snappingctrlkey {
  display: inline;
}

#actionbuttons,
#edgeoperationbuttons {
  display: none;
}

.update-options {
  display: flex;
  flex-direction: row;
}

.edge-button,
.shape-button {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-image: none;
}

.edge-button-selected,
.shape-button-selected {
  background: #4c4c4c;
  color: #fff;
}

#topbar {
  background: #fff;
  padding: 10px;
}

.action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: #6e6e6e;
  height: 32px;
  width: 32px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.action-button:hover,
.action-button:focus {
  background: #0079c1;
  color: #e4e4e4;
}

.active {
  background: #0079c1;
  color: #e4e4e4;
}

.hide {
  display: none;
}

img {
  border: 10px solid white;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.action-button2 {
  padding: 0.6em;
  border: 1px solid #0079c1;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.action-button2:hover,
.action-button2:focus {
  background: #0079c1;
  color: white;
}

#maskDiv {
  position: absolute;
  background: rgba(255, 51, 0, 0.1);
  border: 2px dashed rgb(255, 51, 0);
}

.shadowcast-button {
  border: 0;
}

#elevationDiv {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#elevationMenu {
  padding: 1em;
  text-align: center;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
}

.button-container {
  margin: 10px 0; /* Add spacing between buttons */
  text-align: left;
}
